{{#have}}
{{id}}
{{table_schema}}
{{table_name}}
{{column_name}}
{{definition}}
{{notes}}
{{status}}
{{editable}}
{{deprecated_at}}
{{created_at}}
{{updated_at}}
{{/have}}
{{^have}}
No documentation found :(
{{/have}}
