{{#have}}

  <div style="float: left">
  <h4>Edit Field Documentation</h4>

{{#got}}
  Record: <code>{{schema}}.{{table}}.{{column}}</code>
{{#row}}
  <form method="post">
    <input type=hidden value="{{schema}}" name="schema"/>
    <input type=hidden value="{{table}}" name="table"/>
    <input type=hidden value="{{column}}" name="column"/>
    <textarea cols="40" rows="4" name="notes">{{notes}}</textarea>
    <br/>Status: <input type="text" name="status" value="{{status}}"/>
    Editable? <input type="checkbox" name="editable" value="true" {{#editable}}checked="yes"{{/editable}}/>
    <button type="submit">Save</button>
  </form>
{{/row}}
  </div>
  <div style="float: left; margin-left: 20px">
    <table><tr><th>value</th></tr>
{{#data}}  <tr><td style="margin: 0px; padding: 0px;">{{{value}}}</td></tr>
{{/data}}
    </table>
  </div>
  <div style="clear: both">
    <a href="{{backlink}}">Back (up)</a>
  </div>
{{/got}}

{{/have}}
{{^have}}

  No params :(

{{/have}}
