<h1>{{title}}</h1>

<p>{{content}}</p>

<ul>
  <li>
    <code><a href="/document">select * from to_document (sqlite3)</a></code>
  </li>
  <li>
    <a href="/reports/undocumented/tables/mmi">undocumented tables</a>
  </li>
  <li>
    <a href="http://localhost:9393/reports/undocumented/fields/mmi1.Archive_2007">a particular table</a>
  </li>
  <li>
    <a href="/reports/undocumented/fields/mmi1.Archive_2007.MMI_Client_Transaction_ID">a particular field</a>
  </li>
  <li>
    <a href="/other">The Other Page</a>
  </li>
  <li>
    <a href="/nolayout">A Page Without a Layout</a>
  </li>
</ul>

{{> partial}}
