<!DOCTYPE html>
<html>
  <head>
    <title>
      {{title}}
    </title>
<!--    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/reset/reset-min.css">  -->
    <style>
      body { background: #eee; }
      li { list-style: none !important; }
    </style>
  </head>
  <body>
    <div id="main">
      {{{yield}}}
    </div>
  </body>
</html>
